*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, select {
	font-family: "Great Vibes", cursive;
	font-size: 15px;
 	background: #333;
}

select {
	font-family: "Great Vibes", cursive;
    font-weight: 300;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	background: #FFF;
}

#container, #header, #footer {
	width: 640px;
  	background: #FFFFFF;
  	padding: 1em;
  	margin: 1em auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#header {
	border-top: 5px solid #69c773;
}

#header h1 {
	text-align: center;
	color: #F90B6D;
	font-family: "Great Vibes", cursive;
	font-size: 35px;
	line-height: 15px;
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
	text-shadow: 0 1px 1px #fff; 
} 

#footer {
	border-bottom: 5px solid #69c773;
	font-family: cursive;
	font-size: smaller;
}

h1 {
	margin-top: 0;
}

#msg {
	font-size: 0.9em;
	line-height: 1.4em;
}

#msg.not-supported strong {
	color: #CC0000;
}

#fact {
	font-family: cursive;
	font-size: medium;
}

.chuck-facts {
	color: #CC0000;
	font-size: 20px;
}

input[type="text"] {
	width: 100%;
	padding: 0.5em;
	font-size: 1.2em;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}

input[type="range"] {
	width: 300px;
}

label {
	display: inline-block;
	float: left;
	width: 150px;
}

.option {
  	margin: 1em 0;
}

button {
	display: inline-block;
	border-radius: 3px;
	border: none;
	font-size: 0.9rem;
	padding: 0.5rem 0.8em;
	background: #69c773;
	border-bottom: 1px solid #498b50;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	margin: 0;
	width: 100%;
	text-align: center;
}

button:hover, button:focus {
	opacity: 0.75;
	cursor: pointer;
}

button:active {
	opacity: 1;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
